.header {
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: auto 0;
  font-family: var(--font-logo);
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: 50ms linear opacity, 50ms linear transform;
}

.logo:hover {
  opacity: 0.7;
  transform: rotate(2deg) scale(1.1);
}

.logo:active {
  transform: rotate(2deg) scale(1);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.link {
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  background-color: transparent;
  margin: auto 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: black;
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-weight: 700;
}

.click {
  transition: 50ms linear opacity, 50ms linear transform;
}

.click:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }
}
