.container {
  display: grid;
  position: relative;
  grid-template-rows: auto;
  grid-template-columns: 3fr 4fr;
  gap: 1rem 0.5rem;
  font-family: var(--font-main);
}

.imageBox {
  position: relative;
  grid-row: 1 / 4;
}

.image {
  object-fit: contain;
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.dishes {
  display: flex;
  grid-column: 1 / -1;
  margin: 0 auto;
  border: 0.15rem solid var(--color-second);
  border-radius: 1rem;
  height: 2rem;
  overflow: hidden;
}

.dishesInput {
  margin: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 3rem;
  font-size: 1.5rem;
  font-family: var(--font-main);
  text-align: center;
}

.dishesInput:focus {
  outline: 0;
}

.button {
  position: relative;
  transition: 150ms;
  background-color: var(--color-second);
  padding: 0.5rem;
  width: 1.75rem;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  transform: scale(0.9);
}

.diets {
  display: flex;
  justify-content: space-around;
}

.diet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.dietOff {
  transform: scale(0.85);
  opacity: 0.4;
}

.diet {
  margin: 0;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  font-weight: 700;
  font-size: 1.2s5rem;
  font-family: var(--font-hand);
  text-align: center;
}

.ingredient {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.iName {
  margin: 0;
  margin-right: 1rem;
  min-width: fit-content;
  text-align: left;
}

.iAmount {
  margin: 0;
  margin-left: auto;
  min-width: fit-content;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: var(--font-hand);
}

.instruction {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .imageBox {
    margin: 1rem 0;
    height: 12rem;
  }

  .info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .diets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 15.25rem;
  }
}
