.spinnerWrap {
  position: relative;
  animation: spin 800ms linear infinite;
  margin: 2rem auto;
  border-radius: 50%;
  background: linear-gradient(black, var(--color-base) 75%);
  padding: 0.75rem;
  width: 8rem;
  height: 8rem;
}

.spinner {
  border-radius: 50%;
  background: var(--color-base);
  width: 6.5rem;
  height: 6.5rem;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
