.container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.toggle {
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  padding: 0;
  border-radius: 50%;
  border: 0.2rem solid black;
  transition: 250ms linear background-color, 200ms ease-out transform,
    200ms ease-out box-shadow, 200ms linear opacity;
}

.toggle:hover {
  background-color: var(--color-second);
  transform: scale(1.1);
  box-shadow: -0.3rem 0.3rem 0.5rem rgb(80, 80, 80);
}

.toggle:active {
  transform: scale(0.95);
  opacity: 0.7;
  box-shadow: none;
}

.window {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  /* padding: 5% 10%; */
  position: fixed;
  top: 0;
  left: 0;
}

.popup {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  row-gap: 0.25rem;
  font-family: var(--font-main);
}

.title {
  margin: 0;
  margin-bottom: 1.5rem;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.label {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.input {
  width: 70%;
  max-width: none;
  height: 2rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
}

.diets {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  grid-column: 1 / -1;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.ingredient {
  height: 2rem;
  display: flex;
  justify-content: center;
}

.ingredientName {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.25rem;
  text-align: center;
}

.ingredientAmount {
  max-width: 2rem;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

.ingredientMeasure {
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.addButton {
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 2px solid black;
  border-radius: 50%;
  transform: scale(0.85);
  transition: 150ms;
}

.addButton:hover {
  opacity: 0.4;
  transform: scale(1);
}

.addButton:active {
  opacity: 1;
  background-color: var(--color-second);
}

.addButtonDisabled {
  cursor: default;
  opacity: 0.3;
}

.addButtonDisabled:hover {
  transform: scale(0.85);
  opacity: 0.3;
}

.addButtonDisabled:active {
  background-color: rgb(255, 120, 120);
}

.saveButton {
  grid-column: 1 / -1;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.step {
  width: 100%;
  display: flex;
  gap: 0.25rem;
}

.stepInput {
  width: 100%;
  height: 3.25rem;
  max-width: none;
  margin: 0;
  padding: 0;
}

.saveButton {
  background-color: var(--color-second);
  margin: 0 auto;
  padding: 0;
  height: 3.5rem;
  width: 12rem;
  border: 2px solid black;
  border-radius: 2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: var(--font-main);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: 150ms;
}

.saveButton:hover {
  transform: scale(1.1) translateY(-0.25rem);
  opacity: 0.6;
}

.saveButton:active {
  opacity: 0.9;
  transform: scale(0.95);
}

.switch {
  position: relative;
  display: inline-block;
  width: 11.5rem;
}

.checkbox {
  display: none;
}

.slider {
  height: fit-content;
  border-radius: 0.5rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  top: 0;
  left: 0;
  opacity: 0.7;
  transition: 400ms;
  transform: scale(0.8);
  gap: 0.5rem;
  font-size: 1.25rem;
}

.slider:hover {
  background-color: var(--color-second);
}

.checkbox:checked + .slider {
  background-color: var(--color-second);
  transform: scale(1);
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
