.search {
  display: grid;
  margin: 1rem auto;
  border-radius: 1.5rem;
  background-color: white;
  max-width: 40rem;
  overflow: hidden;
}

.form {
  display: grid;
  grid-template-columns: 1fr 4.75rem 4.75rem;
  justify-content: center;
}

.query {
  margin: 0;
  border: none;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  font-weight: 300;
  font-size: 1.75rem;
  font-family: var(--font-main);
}

.query:focus {
  outline: none;
  background-color: #eee;
}

.button {
  transition: 100ms linear background-color;
  margin: auto;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: #ccc;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  gap: 0.5rem 1rem;
  transition: 250ms linear height;
  width: 100%;
  height: 0;
  text-align: center;
}

.filterOpen {
  border-top: 0.1rem solid black;
  padding: 1rem 0;
  height: 18rem;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.icon {
  margin: 0 1rem;
}

.input {
  margin: 0.5rem auto;
  border: none;
  width: 100%;
  max-width: 8rem;
  height: 1.75rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: var(--font-main);
  text-align: center;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .input {
    max-width: none;
    font-size: 1.5rem;
  }

  .button {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 425px) {
  .form {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
  }

  .query {
    grid-column: 1 / 3;
  }

  .filter {
    display: none;
  }

  .filterOpen {
    display: flex;
    grid-row: 3 / -1;
    flex-direction: column;
    height: fit-content;
  }

  .label {
    margin-top: 1rem;
  }

  .input {
    margin: 0;
  }
}
